@charset "utf-8";
/* CSS Document */
.top-menu-gamesNav ul {
  padding-top: 2px !important;
}
.modal {
  background: #00000096;
}
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.in .modal-dialog {
  left: 0;
}

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.show .modal-dialog {
  left: 0;
}
.modal.left .modal-body {
  padding: 0;
  text-align: center;
}
.modal-content.modal-menu {
  border-radius: 0;
  border: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal.userlogin {
  top: 15%;
  transition: all 0.5s;
}
.main-header {
  position: fixed;
  /* left: 10%; */
  width: 100%;
  top: 0;
  z-index: 9999999;
}

.mt {
  margin-top: 100px;
}
.modal_flow {
  overflow-y: auto !important;
}
.hide[data-v-5f0b9ba1] {
  display: none;
}
.main-bg {
  display: flex;
  justify-content: space-between;
}
.playgam .row {
  max-width: 100% !important;
  margin: 0 !important;
}
.playgam .row::after,
.playgam .row::before {
  display: none !important;
}
.playgam .clearfix::after,
.playgam .clearfix::before {
  display: none !important;
}
.alignRight {
  display: flex !important;
  align-items: center;
  margin-right: 20px;
}
.result-ico i {
  color: white !important;
  font-size: 20px;
}
.result-ico div {
  color: white !important;
  font-size: 20px;
}
@media (max-width: 640px) {
  .result-ico i {
    font-size: 14px;
  }
  .result-ico div {
    font-size: 14px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999999;
}
@media (max-width: 640px) {
  .sticky2 {
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999999;
  }
}
.main-ban {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
}
.first-div {
  position: relative;
  left: -400px;
  transition: all 0.5s ease;
  width: 18%;
  /* display: none; */
  margin: 0 !important;
  text-align: left;
}
.balance2 {
  /* display: none; */
  position: relative;
  right: -400px;
}
.balance2 li {
  margin-top: 10px !important;
  display: inline;
}
.hide-it {
  display: none !important;
}
.zero {
  left: 0;
  display: inline !important;
}
.sectionHeader:not(#miApuestaHeader) [data-gameName] {
  font-size: 200% !important;
}
@media (max-width: 600px) {
  .mbl-move {
    margin-left: -10px;
  }
  .move-top {
    margin-top: 8px;
  }
}
.main-bg {
  display: flex;
  justify-content: space-between;
}
.playgam .row {
  max-width: 100% !important;
  margin: 0 !important;
}
.playgam .row::after,
.playgam .row::before {
  display: none !important;
}
.playgam .clearfix::after,
.playgam .clearfix::before {
  display: none !important;
}
.alignRight {
  display: flex !important;
  align-items: center;
  margin-right: 20px;
}
.result-ico i {
  color: white !important;
  font-size: 20px;
}
.result-ico div {
  color: white !important;
  font-size: 20px;
}
@media (max-width: 640px) {
  .result-ico i {
    font-size: 14px;
  }
  .result-ico div {
    font-size: 14px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999999;
}
@media (max-width: 640px) {
  .sticky2 {
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999999;
  }
}
.main-ban {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
}
.first-div {
  position: relative;
  left: -400px;
  transition: all 0.5s ease;
  width: 220px;
  /* display: none; */
  margin: 0 !important;
  text-align: left;
}
.balance2 {
  /* display: none; */
  position: relative;
  right: -400px;
}
.balance2 li {
  margin-top: 10px !important;
  display: inline;
}

.zero {
  left: 0;
  display: inline !important;
}
.first-div img {
  margin-top: -2px;
  height: 70px;
  width: 130px;
}

.scol {
  min-width: 30px !important;
  max-width: 30px !important;
}
.right-ac {
  font-size: 0.7rem !important;
  text-shadow: none !important;
}
.core_inline-list1 {
  margin-left: 10px !important;
}

.main-bg {
  display: flex;
  justify-content: space-between;
}
.playgam .row {
  max-width: 100% !important;
  margin: 0 !important;
}
.playgam .row::after,
.playgam .row::before {
  display: none !important;
}
.playgam .clearfix::after,
.playgam .clearfix::before {
  display: none !important;
}
.alignRight {
  display: flex !important;
  align-items: center;
  margin-right: 20px;
}
.result-ico i {
  color: white !important;
  font-size: 20px;
}
.result-ico div {
  color: white !important;
  font-size: 20px;
}
@media (max-width: 640px) {
  .result-ico i {
    font-size: 14px;
  }
  .result-ico div {
    font-size: 14px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999999;
}
@media (max-width: 640px) {
  .sticky2 {
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999999;
  }
}
.main-ban {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
}
.first-div {
  position: relative;
  left: -4000px;
  transition: all 0.5s ease;
  width: 220px;
  /* display: none; */
  margin: 0 !important;
  text-align: left;
}
.balance2 {
  /* display: none; */
  position: relative;
  right: -4000px;
}
.balance2 li {
  margin-top: 10px !important;
  display: inline;
}

.zero {
  left: 0;
  display: inline !important;
}
.float-right .core_inline-list {
  margin-top: 8px !important;
}@media (max-width:1024px) {
  .float-right .core_inline-list {
    margin-top: -1px !important;
}
}
@media (max-width: 600px) {
  .float-right .core_inline-list {
    margin-top: 0 !important;
  }
}
