.nav-ico {
  width: 150px;
}
.dl {
  margin-top: 7px;
}
.nav-ico-3 {
  width: 70px;
  margin-top: -5px;
}

.nav-ico-4 {
  width: 80px;
}

.nav-ico-5 {
  width: 100px;
}

.mbl-ico {
  width: 100px;
  margin-top: -5px;
}

.d2 {
  height: 40px;
}
