.nav-ico {
  height: 68px;
}
.dl {
  margin-top: -4px;
}
.nav-ico-3 {
  height: 69px;
  margin-top: -4px;
}
.nav-ico- {
  width: 62px;
  margin-top: -4px;
}

.nav-ico-4 {
  width: 80px;
}

.nav-ico-5 {
  height: 67px;
  margin-top: -3px;
}

.mbl-ico {
  width: 100px;
  margin-top: -23px;
}

.d2 {
  margin-top: -24px;
}
.main-bg {
  display: flex;
  justify-content: space-between;
}
.playgam .row {
  max-width: 100% !important;
  margin: 0 !important;
}
.playgam .row::after,
.playgam .row::before {
  display: none !important;
}
.playgam .clearfix::after,
.playgam .clearfix::before {
  display: none !important;
}
.swal2-styled {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}
.main-bg {
  display: flex;
  justify-content: space-between;
}
.playgam .row {
  max-width: 100% !important;
  margin: 0 !important;
}
.playgam .row::after,
.playgam .row::before {
  display: none !important;
}
.playgam .clearfix::after,
.playgam .clearfix::before {
  display: none !important;
}
.alignRight {
  display: flex !important;
  align-items: center;
  margin-right: 20px;
}
.result-ico i {
  color: white !important;
  font-size: 20px;
}
.result-ico div {
  color: white !important;
  font-size: 20px;
}
@media (max-width: 640px) {
  .result-ico i {
    font-size: 14px;
  }
  .result-ico div {
    font-size: 14px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999999;
}
@media (max-width: 640px) {
  .sticky2 {
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999999;
  }
}
.main-ban {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
}
.first-div {
  position: relative;
  left: -4000px;
  transition: all 0.5s ease;
  width: 220px;
  /* display: none; */
  margin: 0 !important;
  text-align: left;
}
.balance2 {
  /* display: none; */
  position: relative;
  right: -4000px;
}
.balance2 li {
  margin-top: 10px !important;
  display: inline;
}

.zero {
  left: 0;
  display: inline !important;
}
.first-div img {
  margin-top: -2px;
  height: 70px;
  width: 130px;
}

.scol {
  min-width: 30px !important;
  max-width: 30px !important;
}
.right-ac {
  font-size: 0.7rem !important;
  text-shadow: none !important;
}
.core_inline-list1 {
  margin-left: 10px !important;
}
@media (max-width:420px) {
  .core_inline-list1 {
  margin-left: 0px !important;
}
.core_inline-list span{
  font-size: 12px !important;
}
  
}

.main-bg {
  display: flex;
  justify-content: space-between;
}
.playgam .row {
  max-width: 100% !important;
  margin: 0 !important;
}
.playgam .row::after,
.playgam .row::before {
  display: none !important;
}
.playgam .clearfix::after,
.playgam .clearfix::before {
  display: none !important;
}
.alignRight {
  display: flex !important;
  align-items: center;
  margin-right: 20px;
}
.result-ico i {
  color: white !important;
  font-size: 20px;
}
.result-ico div {
  color: white !important;
  font-size: 20px;
}
@media (max-width: 640px) {
  .result-ico i {
    font-size: 14px;
  }
  .result-ico div {
    font-size: 14px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999999;
}
@media (max-width: 640px) {
  .sticky2 {
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999999;
  }
}
.main-ban {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  justify-content: space-evenly;
}
.first-div {
  position: relative;
  left: -4000px;
  transition: all 0.5s ease;
  width: 220px;
  /* display: none; */
  margin: 0 !important;
  text-align: left;
}
.balance2 {
  /* display: none; */
  position: relative;
  right: -4000px;
}
.balance2 li {
  margin-top: 10px !important;
  display: inline;
}

.zero {
  left: 0;
  display: inline !important;
}
.hide-it {
  display: none !important;
  visibility: hidden !important;
}
body.setFixed .top-subMenu {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.top-maa {
  margin-top: 8px !important;
}
@media (max-width: 950px) {
  .top-maa {
    margin-top: 2px !important;
  }
}
.index-ul {
  display: flex;
  flex-direction: row;
}
.top-m {
  margin-top: 8px !important;
}
#lotterySection{

  background-image: url(../assets/bg/Lottery\ Pattern\ 1.png);
}
.right-join [data-userMenuLogin] a,
.right-join [data-userMenuJoin] a {
  position: relative;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(0, 0, 0) !important;
  margin: 2px;
  border-radius: 5px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.right-join [data-userMenuLogin] a.active,
.right-join [data-userMenuJoin] a.active {
  background-color: rgb(0, 0, 0) !important;
  color: #ffffff !important;
}

.right-join [data-userMenuLogin] a.active *,
.right-join [data-userMenuJoin] a.active * {
  color: #323537 !important;
}

.right-join [data-userMenuLogin] a:hover:not(.label),
.right-join [data-userMenuJoin] a:hover:not(.label) {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #fff !important;
  color: #323537 !important;
}

.right-join [data-userMenuLogin] a:hover:not(.label) *,
.right-join [data-userMenuJoin] a:hover:not(.label) * {
  color: #323537 !important;
}

.right-join [data-userMenuLogin] a.radius,
.right-join [data-userMenuJoin] a.radius {
  border-radius: 5px;
}

.right-join [data-userMenuLogin] a.round,
.right-join [data-userMenuJoin] a.round {
  border-radius: 100px;
}

.right-join [data-userMenuLogin] a.label,
.right-join [data-userMenuJoin] a.label {
  color: #fff !important;
}

.right-join [data-userMenuLogin] a.a.label:hover,
.right-join [data-userMenuJoin] a.a.label:hover {
  color: #323537 !important;
}
.right-join [data-userMenuLogin] button,
.right-join [data-userMenuJoin] button {
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border-radius: 5px;
  border-radius: 3px;
  background-color: black !important;
  color: white !important;
  font-size: 0.85rem;
}

.right-join {
  margin-top: 11px !important;
}
.bets-section{
  margin-bottom: 30px;
}
/* Slider */
.translate1{
  transform: translateZ(0px) translateX(0px) !important;
  transition:all 0.3s ease;
    width: 3078px;
}
.translate2{
  transform: translateZ(0px) translateX(-563px) !important;
  transition:all 0.3s ease;
    width: 3078px;
}
.translate3{
  transform: translateZ(0px) translateX(-1126px) !important;
  transition:all 0.3s ease;
    width: 3078px;
}
/* .translate4{
  transform: translateZ(0px) translateX(-1689px) !important;
  transition:all 0.3s ease;
    width: 3078px;
}
.translate5{
  transform: translateZ(0px) translateX(-2252px) !important;
  transition:all 0.3s ease;
    width: 3078px;
}
.translate6{
  transform: translateZ(0px) translateX(-2815px) !important;
  transition:all 0.3s ease;
    width: 3078px;
} */
.slideArea{
 height: 177px; 
 width: 563px !important;
}
@media (max-width:1024px) {
  
  .slideArea{
  height: 222px;
    width: 959px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-959px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-1918px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:900px) {
  
  .slideArea{
     height: 222px;
    width: 841px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-841px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-1682px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:800px) {
  
  .slideArea{
     height: 222px;
    width: 737px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-737px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-1474px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:720px) {
  
  .slideArea{
     height: 222px;
    width: 657px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-657px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-1314px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:640px) {
  
  .slideArea{
     height: 222px;
    width: 580px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-580px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-1160px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:535px) {
  
  .slideArea{
     height: 222px;
    width: 508px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-508px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-1016px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:480px) {
  
  .slideArea{
     height: 222px;
    width: 455px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-455px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-910px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:455px) {
  
  .slideArea{
     height: 222px;
    width: 420px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-420px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-840px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:425px) {
  
  .slideArea{
     height: 222px;
    width: 355px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-355px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-710px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:370px) {
  
  .slideArea{
     height: 222px;
    width: 320px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-320px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-640px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}
@media (max-width:330px) {
  
  .slideArea{
     height: 222px;
    width: 295px !important;
  }
  
  .translate1{
    transform: translateZ(0px) translateX(0px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate2{
    transform: translateZ(0px) translateX(-295px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
  .translate3{
    transform: translateZ(0px) translateX(-590px) !important;
    transition:all 0.3s ease;
      width: 3078px;
  }
}